In [1]:
import pandas as pd 
from deep_translator import GoogleTranslator

In [2]:
dataset = pd.read_csv('../Data/jigsaw.15.train.multi-label.csv')
dataset

,Unnamed: 0,comment_text,toxicity,obscene,sexual_explicit,identity_attack,insult,threat
0,0,"typical hate bases left wing stupidity, this w...",1.0,0.0,0.0,0.0,1.0,0.0
1,1,A wise man taught me long ago the difference b...,0.0,0.0,0.0,0.0,1.0,0.0
2,2,An AR-15 is not an assault rifle. Your comment...,1.0,0.0,0.0,0.0,1.0,0.0
3,3,Greenpeace is a nuisance and does some stupid ...,1.0,0.0,0.0,0.0,1.0,0.0
4,4,Please learn to spell.Feel better now? Is ther...,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
178467,178467,I've been married to one for decades.,0.0,0.0,0.0,0.0,0.0,0.0
178468,178468,"As written before, the anc(another new corrupt...",1.0,0.0,0.0,0.0,1.0,0.0
178469,178469,Khadr is an admitted terrorist who recalls his...,1.0,0.0,0.0,0.0,1.0,0.0
178470,178470,"Good lord, I hope she wasn't laying on the flo...",1.0,1.0,0.0,0.0,0.0,0.0
178471,178471,"Wrong, rangers to crumble. He's a great player...",1.0,0.0,0.0,0.0,1.0,0.0

In [3]:
len(dataset)

178472

In [12]:
def translate_to_maltese(text):
    translator = GoogleTranslator(source='en', target='mt')
    translation = translator.translate(text)
    return translation

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
dataset1, dataset2 = train_test_split(dataset, test_size=0.5, random_state=42)

In [8]:
dataset1

,Unnamed: 0,comment_text,toxicity,obscene,sexual_explicit,identity_attack,insult,threat
24446,24446,Get a load of this: A rant from a misogynistic...,1.0,0.0,0.0,0.0,1.0,0.0
18523,18523,"Nice try, but I'm not a Republican. However, i...",0.0,0.0,0.0,0.0,0.0,0.0
62700,62700,It's sort have a loony right problem.,1.0,0.0,0.0,0.0,1.0,0.0
6752,6752,Invoking Jesus into the gun violence debate in...,1.0,0.0,0.0,0.0,0.0,1.0
63119,63119,The Alaska Supreme Court throws the constituti...,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
119879,119879,You've got a gun! Time to get shot. Stop resis...,1.0,0.0,0.0,0.0,0.0,1.0
103694,103694,They let the team down. Lose money as well sin...,1.0,0.0,0.0,0.0,1.0,0.0
131932,131932,You're the one trolling on top of my comments....,1.0,0.0,0.0,0.0,0.0,0.0
146867,146867,That's just silly.,1.0,0.0,0.0,0.0,0.0,0.0
121958,121958,A woman has every right to drink as much alcoh...,1.0,0.0,1.0,0.0,0.0,0.0

In [10]:
dataset3, dataset4 = train_test_split(dataset1, test_size=0.5, random_state=42)
dataset5, dataset6 = train_test_split(dataset2, test_size=0.5, random_state=42)

In [13]:
dataset7, dataset8 = train_test_split(dataset3, test_size=0.5, random_state=42)
dataset7.to_csv('jigsaw1.translate.csv')
dataset8.to_csv('jigsaw2.translate.csv')

In [15]:
dataset9, dataset10 = train_test_split(dataset4, test_size=0.5, random_state=42)
dataset9.to_csv('jigsaw3.translate.csv')
dataset10.to_csv('jigsaw4.translate.csv')

In [16]:
dataset11, dataset12 = train_test_split(dataset5, test_size=0.5, random_state=42)
dataset11.to_csv('jigsaw5.translate.csv')
dataset12.to_csv('jigsaw6.translate.csv')

In [17]:
dataset13, dataset14 = train_test_split(dataset6, test_size=0.5, random_state=42)
dataset13.to_csv('jigsaw7.translate.csv')
dataset14.to_csv('jigsaw8.translate.csv')

In [14]:
len(dataset7), len(dataset8)

(22309, 22309)

In [11]:
#dataset['translated_maltese'] = dataset['comment_text'].apply(translate_to_maltese)
# dataset3.to_csv('jigsaw1.translate.csv')
# dataset4.to_csv('jigsaw2.translate.csv')
# dataset5.to_csv('jigsaw3.translate.csv')
# dataset6.to_csv('jigsaw4.translate.csv')

In [12]:
#dataset

len(dataset3), len(dataset4), len(dataset5), len(dataset6)

(44618, 44618, 44618, 44618)

In [ ]:
#dataset.to_csv('../Data/jigsaw.15.train.maltese.multi-label.csv')

In [ ]:
pd.read_csv('././Data/jigsaw.validation.multi-label_mixed.csv')